<div class="panel panel-primary">
	<div class="panel-heading">
    	<h3 class="panel-title">Histórico</h3>
  	</div>
  <div class="panel-body">
    <table class="table table-hover table striped">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Tipo de transação</th>
          <th>Recebedor</th>
          <th>Valor</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="transaction in transactions track by transaction.created_at">
            <td>{{transaction.account_emmiter}}</td>
            <td>{{transaction.type_transaction}}</td>
            <td>{{transaction.account_sender}}</td>
            <td>{{transaction.value}}</td>
            <td>{{transaction.created_at | amDateFormat:'DD/MM/YYYY'}}</td>
        </tr>
      </tbody> 
    </table>
  </div>
</div>